@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebSite503020BlazorWASM.Shared
@using WebSite503020BlazorWASM.Client.PersonalsComponents;
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (isLoggedOn == true)
{
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center display-4">Calculadora 50/30/20</h1>
                <p class="text-center lead">A regra 50/30/20 é uma forma simples de dividir seus gastos e equilibrar suas finanças apenas dividindo seu rendimento por categorias de despesas essenciais, pessoais e financeiras.</p>

                <div class="card mt-4 p-4" style="background: linear-gradient(to right, #f15f79, #b24592);">
                    <h5 class="card-title text-center text-white mb-4">Calcule sua distribuição de renda</h5>

                    <div class="form-group">
                        <label for="inputRendimento" class="text-white">Rendimento líquido</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="inputRendimento" placeholder="0.00"
                                   aria-describedby="rendimentoHelp" @bind="@myModel.InputValue" @oninput="HandleInput" />
                            <div class="input-group-append">
                                <span class="input-group-text">BRL</span>
                            </div>
                            <div class="input-group-append">
                                <span><button type="submit" class="btn btn-primary btn-block">Calcular</button></span>
                            </div>
                        </div>
                        <small id="rendimentoHelp" class="form-text text-muted">Insira o valor do rendimento líquido.</small>
                    </div>
                    <HowMightBeDistributedTable InputValue="@myModel.InputValue" />
                </div>
                <form class="card mt-4" style="background: linear-gradient(to right, #f15f79, #b24592);">
                    <div class="card-header">
                        <h1 class="text-center display-4">Custos Essenciais</h1>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputMoradia">Moradia</label>
                                    <input type="number" class="form-control" id="inputMoradia" @bind="@myModel.Moradia" />
                                </div>

                                <div class="form-group">
                                    <label for="inputServicos">Serviços</label>
                                    <input type="number" class="form-control" id="inputServicos" @bind="@myModel.Servicos" />
                                </div>

                                <div class="form-group">
                                    <label for="inputTransporte">Transporte</label>
                                    <input type="number" class="form-control" id="inputTransporte" @bind="@myModel.Transporte" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputAlimentacao">Alimentação</label>
                                    <input type="number" class="form-control" id="inputAlimentacao" @bind="@myModel.Alimentacao" />
                                </div>

                                <div class="form-group">
                                    <label for="inputSaude">Saúde</label>
                                    <input type="number" class="form-control" id="inputSaude" @bind="@myModel.Saude" />
                                </div>

                                <div class="form-group">
                                    <label for="inputEducacao">Educação</label>
                                    <input type="number" class="form-control" id="inputEducacao" @bind="@myModel.Educacao" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" @onclick="HandleValidSubmit">Calcular</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
}
@code {
    private bool isLoggedOn;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoggedOn = true;
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private MyModel myModel = new MyModel();

    private void HandleInput(ChangeEventArgs e)
    {
        myModel.InputValue = e.Value.ToString();
    }

    private void HandleValidSubmit()
    {
        
    }

    public class MyModel
    {
        public string? InputValue { get; set; }
        public string Moradia { get; set; }
        public string Servicos { get; set; }
        public string Transporte { get; set; }
        public string Alimentacao { get; set; }
        public string Saude { get; set; }
        public string Educacao { get; set; }
    }
}